<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Страница не найдена</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='../static/change.css')}}">
</head>
<body>
	<article>
	<div class="alert alert-danger d-flex align-items-center" role="alert">
	<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
	  <div>
	    Страницы не существует!
	  </div>
	</div>
	</article>
</body>
</html>